.admin_carousel {
  background-color: $black;
  color: $white;
  padding: 1.5em;
}
.admin_carousel_title {
  font-family: $font-primary;
  font-size: 1.5em;
  padding: 0.5em;
}

.admin_carousel_container {
  display: grid;
  align-content: center;
}

.home_latestMangas_carousel {
  position: relative;
  scroll-snap-type: x mandatory;
}
.home_latestMangas_carousel div {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_latestMangas_carousel img {
  width: auto;
  height: 100%;
  aspect-ratio: 16 / 20;
  scroll-snap-align: center;
}
.carousel .slide {
  text-align: left;
}

.home_latestManga_carouselTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-title;
  color: $white;
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
}
