.register_container {
  min-block-size: calc(100vh - 109.72px);
  background: url("/pageDinscription.jfif") no-repeat center/cover;
  position: relative;
}

.register_title {
  color: $black;
  font-family: $font-title;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.register_form {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  row-gap: 1em;
}

.register_input {
  opacity: 0.6;
  border-radius: 10px;
  border: none;
  inline-size: 15em;
  padding-inline-start: 1em;
  block-size: 1.8em;
  margin-block-end: 1em;
}

.register_input::placeholder {
  color: $red;
  font-size: 1.3em;
  padding-inline-start: 1.5em;
}

.register_input:focus {
  outline-color: $red;
  color: $red;
}
.register_input:hover {
  opacity: 1;
  color: $red;
}

.register_btn {
  cursor: pointer;
  color: $red;
  font-family: $font-title;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  block-size: 1.5em;
  margin-bottom: 0.5em;
}
.register_btn:hover {
  background-color: $red;
  color: $white;
}

.register_loginLink {
  font-family: $font-primary;
  text-align: center;
  font-size: 1em;
  color: $white;
  margin: 0;
  position: absolute;
  bottom: 12em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register_loginLink_link {
  color: $red;
  font-weight: bold;
  text-decoration: none;
}

.register_loginLink_link:hover {
  text-decoration: underline;
  color: $shade_of_red;
}

@media screen and (min-width: 1000px) {
  .register_title {
    font-size: 3em;
  }
  .register_form input {
    font-size: 1.5em;
  }
  .register_btn {
    font-size: 1.5em;
  }
  .register_loginLink {
    font-size: 1.5em;
    bottom: 10%;
  }
}
