.addManga_formulaire {
  background-color: $white;
  inline-size: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid $white;
}

.addManga_formulaire div {
  margin-bottom: 15px;
}

.addManga_label {
  font-size: 17px;
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.addManga_input,
.addManga_select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $shade_of_white;
  border-radius: 5px;
  background-color: $white;
  transition: border-color 0.3s ease;
}

.addManga_input:focus,
.addManga_select:focus,
textarea:focus {
  border-color: $red;
  outline: none;
}

.addManga_textarea {
  resize: vertical;
  min-height: 100px;
  max-inline-size: 100%;
}

.addManga_btn {
  width: 100%;
  padding: 12px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addManga_btn:hover {
  background-color: $shade_of_red;
}

.addManga_file {
  background-color: $shade_of_white;
  color: $red;
  cursor: pointer;
  padding: 8px;
}

.addManga_file::file-selector-button {
  background-color: $red;
  color: $white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.addManga_file::file-selector-button:hover {
  background-color: $shade_of_red;
}

.addManga_dropdownContainer {
  position: relative;
  color: $black;
}

.addManga_dropdownBtn {
  padding: 10px;
  border: 1px solid $shade_of_white;
  cursor: pointer;
}
.addManga_dropdownBtn:hover {
  background-color: $red;
  color: $white;
}

.addManga_dropdownMenu {
  position: absolute;
  background-color: $white;
  border: 1px solid $shade_of_white;
  width: 100%;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.addManga_dropdownItem {
  display: flex;
  align-items: center;
  padding: 8px;
}

.addManga_dropdownItem input {
  margin-right: 5px;
}
