.home_carousel_container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.home_carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.home_carousel div {
  min-width: 100%;
  box-sizing: border-box;
}

.home_carousel img {
  width: 100%;
  height: auto;
  cursor: pointer;
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}

.home_carousel img:hover {
  filter: brightness(1);
}
.home_carousel_item {
  position: relative;
}
.home_carouselTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $font-title;
  color: $white;
  padding: 0.8em;
  font-size: 1.2em;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (min-width: 1000px) {
  .home_carousel {
    width: 20%;
    // flex: 0 0 30%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * (totalItems + 4));
  }

  .home_carousel img {
    width: 100%;
    height: auto;
  }
  .home_carouselTitle {
    font-size: 1.8em;
    color: $shade_of_red;
  }
}
