.errorPage_section {
  background-color: $black;
  color: $white;
}

.errorPage_titre {
  text-align: center;
  font-size: 3em;
}
.errorPage_btn {
  display: block;
  margin-inline: auto;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.errorPage_img {
  block-size: calc(100vh - 9vh);
  inline-size: 90vw;
  margin-inline: auto;
}
