.navbar {
  inline-size: 100%;
  block-size: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline-end: 0.5em;
  background-color: $black;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar_title {
  font-family: "Bangers", cursive;
  font-size: 1.7em;
  color: $red;
}
.navbar_logo {
  block-size: 13vh;
}
